# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# Base de données
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.pid

# Fichiers temporaires
*.tmp
*.swp
